APP_NAME=MetaMyKad
APP_ENV=production
APP_DEBUG=false
APP_URL=https://bitp3353.utem.edu.my/2026/all/GroupMDB/GS02/MetaMyKad
APP_TIMEZONE=Asia/Singapore

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=metamykad
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=your_mysql_password
